# Ignore virtual environments
.venv/
env/
venv/

# Ignore dataset folders
data/
PlantVillage/
segmented/
color/
grayscale/

# Ignore large model files if you upload them elsewhere
*.h5
*.keras

# Ignore system files
__pycache__/
*.pyc
.DS_Store
